<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id="uploadPageContainer">
    <h1>Uploader une nouvelle vidéo</h1>
    <form action="/api/upload" method="POST" enctype="multipart/form-data">
      <div>
        <label for="title">Titre du film :</label>
        <input type="text" id="title" name="title" required>
      </div>

      <div>
        <label for="description">Description :</label>
        <textarea id="description" name="description" rows="4"></textarea>
      </div>

      <div>
        <label for="videoFile">Fichier Vidéo (obligatoire) :</label>
        <input type="file" id="videoFile" name="videoFile" accept="video/*" required />
      </div>

      <div>
        <label for="imageFile">Image de couverture (optionnel) :</label>
        <input type="file" id="imageFile" name="imageFile" accept="image/*" />
      </div>

      <button type="submit">Envoyer</button>
    </form>
  </div>
</body>
</html>